# Imports

In [1]:
import pandas as pd

from IPython.core.display import display, HTML

# Data Loading

In [2]:
df1 = pd.read_excel("data1.xlsx", engine="openpyxl")[:-4].copy()
df2 = pd.read_excel("data2.xlsx", engine="openpyxl").dropna()

df1.info(verbose=True)
display(df1)

df2.info(verbose=True)
display(df2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction_mth  15 non-null     datetime64[ns]
 1   Segment          15 non-null     object
 2   Total_unit       15 non-null     int64
 3   Total_bad        15 non-null     int64
 4   Total_good       15 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 728.0+ bytes

   Transaction_mth        Segment  Total_unit  Total_bad  Total_good
0       2021-08-01            All          20         20          20
1       2021-08-01            ATM          45         45          45
2       2021-08-01       Business           3          3           3
3       2021-08-01       Consumer           6          6           6
4       2021-08-01       approved           7          7           7
5       2021-08-01  decline_fraud           9          9           9
6       2021-08-01   cross_border          10         10          10
7       2021-08-01        PIN_POS          45         45          45
8       2021-08-01         WF_ATM          34         34          34
9       2021-08-01       new card          23         23          23
10      2021-08-01            dom          48         48          48
11      2021-08-01            app          79         79          79
12      2021-08-01            dec          56         56          56
13      2021-08-01            lob          35         35          35
14      2021-08-01          swipe          12         12          12

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction_mth  15 non-null     datetime64[ns]
 1   Segment          15 non-null     object
 2   Total_unit       15 non-null     float64
 3   Total_bad        15 non-null     float64
 4   Total_good       15 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 720.0+ bytes

   Transaction_mth        Segment  Total_unit  Total_bad  Total_good
0       2021-08-01            All        20.0       20.0        20.0
1       2021-08-01            ATM        45.0       45.0        45.0
2       2021-08-01       Business         3.0        3.0         3.0
3       2021-08-01       Consumer         6.0        6.0         6.0
4       2021-08-01       approved         7.0        7.0         7.0
5       2021-08-01  decline_fraud         9.0        9.0         9.0
6       2021-08-01   cross_border        10.0       10.0        10.0
7       2021-08-01        PIN_POS        45.0       45.0        45.0
8       2021-08-01         WF_ATM        34.0       34.0        34.0
9       2021-08-01       new card        23.0       23.0        23.0
10      2021-08-01            dom        48.0       48.0        48.0
11      2021-08-01            app        79.0       79.0        79.0
12      2021-08-01            dec        56.0       56.0        56.0
13      2021-08-01            lob        35.0       35.0        35.0
14      2021-08-01          swipe        12.0       12.0        12.0

In [3]:
def compare_table(
    df1,
    df2,
    col_list=None,
    groupby=["Transaction_mth","Segment"],
    title=["Table 1", "Table 2"],
    save=None
):
    assert title is None or len(title) == 2, "expecting exactly 2 titles"
    if col_list is None:
        col_list = set.intersection(set(df1.columns), set(df2.columns)) - set(groupby)
    
    df1 = df1.set_index(groupby)[col_list]
    df2 = df2.set_index(groupby)[col_list]
    index = [
        item
        for item in df1.index
        if item in df2.index
    ]
    variation_df = (df1.loc[index,col_list] - df2.loc[index,col_list]) / 100.
    
    merge_df = pd.concat(
        [
            df.loc[index,col_list]
            for df in [df1, df2, variation_df]
        ],
        keys=title+["Variation"],
        axis=1
    )
    display(merge_df)
    if save is not None:
        merge_df.to_excel(save)
    return merge_df
    
display(
    compare_table(
        df1,
        df2,
        title=["COE", "CMoR"],
        save="test.xlsx"
    )
)

                                     COE                            CMoR  \
                              Total_good Total_unit Total_bad Total_good
Transaction_mth Segment
2021-08-01      All                   20         20        20       20.0
                ATM                   45         45        45       45.0
                Business               3          3         3        3.0
                Consumer               6          6         6        6.0
                approved               7          7         7        7.0
                decline_fraud          9          9         9        9.0
                cross_border          10         10        10       10.0
                PIN_POS               45         45        45       45.0
                WF_ATM                34         34        34       34.0
                new card              23         23        23       23.0
                dom                   48         48        48       48.0
                app                   79         79        79       79.0
                dec                   56         56        56       56.0
                lob                   35         35        35       35.0
                swipe                 12         12        12       12.0

                                                    Variation             \
                              Total_unit Total_bad Total_good Total_unit
Transaction_mth Segment
2021-08-01      All                 20.0      20.0        0.0        0.0
                ATM                 45.0      45.0        0.0        0.0
                Business             3.0       3.0        0.0        0.0
                Consumer             6.0       6.0        0.0        0.0
                approved             7.0       7.0        0.0        0.0
                decline_fraud        9.0       9.0        0.0        0.0
                cross_border        10.0      10.0        0.0        0.0
                PIN_POS             45.0      45.0        0.0        0.0
                WF_ATM              34.0      34.0        0.0        0.0
                new card            23.0      23.0        0.0        0.0
                dom                 48.0      48.0        0.0        0.0
                app                 79.0      79.0        0.0        0.0
                dec                 56.0      56.0        0.0        0.0
                lob                 35.0      35.0        0.0        0.0
                swipe               12.0      12.0        0.0        0.0


                              Total_bad
Transaction_mth Segment
2021-08-01      All                 0.0
                ATM                 0.0
                Business            0.0
                Consumer            0.0
                approved            0.0
                decline_fraud       0.0
                cross_border        0.0
                PIN_POS             0.0
                WF_ATM              0.0
                new card            0.0
                dom                 0.0
                app                 0.0
                dec                 0.0
                lob                 0.0
                swipe               0.0

                                     COE                            CMoR  \
                              Total_good Total_unit Total_bad Total_good
Transaction_mth Segment
2021-08-01      All                   20         20        20       20.0
                ATM                   45         45        45       45.0
                Business               3          3         3        3.0
                Consumer               6          6         6        6.0
                approved               7          7         7        7.0
                decline_fraud          9          9         9        9.0
                cross_border          10         10        10       10.0
                PIN_POS               45         45        45       45.0
                WF_ATM                34         34        34       34.0
                new card              23         23        23       23.0
                dom                   48         48        48       48.0
                app                   79         79        79       79.0
                dec                   56         56        56       56.0
                lob                   35         35        35       35.0
                swipe                 12         12        12       12.0

                                                    Variation             \
                              Total_unit Total_bad Total_good Total_unit
Transaction_mth Segment
2021-08-01      All                 20.0      20.0        0.0        0.0
                ATM                 45.0      45.0        0.0        0.0
                Business             3.0       3.0        0.0        0.0
                Consumer             6.0       6.0        0.0        0.0
                approved             7.0       7.0        0.0        0.0
                decline_fraud        9.0       9.0        0.0        0.0
                cross_border        10.0      10.0        0.0        0.0
                PIN_POS             45.0      45.0        0.0        0.0
                WF_ATM              34.0      34.0        0.0        0.0
                new card            23.0      23.0        0.0        0.0
                dom                 48.0      48.0        0.0        0.0
                app                 79.0      79.0        0.0        0.0
                dec                 56.0      56.0        0.0        0.0
                lob                 35.0      35.0        0.0        0.0
                swipe               12.0      12.0        0.0        0.0


                              Total_bad
Transaction_mth Segment
2021-08-01      All                 0.0
                ATM                 0.0
                Business            0.0
                Consumer            0.0
                approved            0.0
                decline_fraud       0.0
                cross_border        0.0
                PIN_POS             0.0
                WF_ATM              0.0
                new card            0.0
                dom                 0.0
                app                 0.0
                dec                 0.0
                lob                 0.0
                swipe               0.0