# Imports

In [1]:
from collections import Counter
import copy
import json

import numpy as np
import pandas as pd

from IPython.display import display, HTML

# Function Definitions

In [2]:
def build_basic_df(name, data):
    data = copy.deepcopy(data)
    keys = ["p", "r", "f", "counts"]
    data = {
        key:value
        for key,value in data.items()
        if key in keys
    }
    data.update(data["counts"])
    data.pop("counts")
    return pd.DataFrame(data.values(), index=data.keys(), columns=[name])

def convert_to_df(data_dict):
    df_list = list()
    for key,value in data_dict.items():
        tmp_df_list = list()
        name = f"OVERALL"
        data = copy.deepcopy(value)
        data.pop("score_per_type")
        tmp_df_list.append( build_basic_df(name, data) )
        
#         print( json.dumps(value, indent=4) )
        if "score_per_type" in value and "ent_type" in value["score_per_type"]:
            for tmp_key,tmp_value in value["score_per_type"]["ent_type"].items():
                name = f"{tmp_key}"
                data = tmp_value
                tmp_df_list.append( build_basic_df(name, data) )
        df = pd.concat(tmp_df_list, axis=1)
        df.columns = pd.MultiIndex.from_product([[key], df.columns])
        df_list.append(df)
    return pd.concat(df_list, axis=1).astype(float)

# Data

In [3]:
data_dict = {'ner_muc7': {'p': '89.58', 'r': '89.90', 'f': '89.74', 'counts' : Counter({'correct' : 1273, 'spurious': 100, 'missing': 89, 'parital_poss': 53, 'partial_act': 47, 'incorrect': 1}), 'score_per_type': {'ent_type': {'DATE': {'p': '89.58', 'r': '89.90', 'f': '89.74', 'counts' : Counter({'correct' : 1273, 'spurious': 100, 'missing': 89, 'parital_poss': 53, 'partial_act': 47, 'incorrect': 1})}, 'PERSON':{'p': '89.58', 'r': '89.90', 'f': '89.74', 'counts' : Counter({'correct' : 1273, 'spurious': 100, 'missing': 89, 'parital_poss': 53, 'partial_act': 47, 'incorrect': 1})}, 'PLACE':{'p': '89.58', 'r': '89.90', 'f': '89.74', 'counts' : Counter({'correct' : 1273, 'spurious': 100, 'missing': 89, 'parital_poss': 53, 'partial_act': 47, 'incorrect': 1})}, 'ADDRESS': {'p': '89.58', 'r': '89.90', 'f': '89.74', 'counts' : Counter({'correct' : 1273, 'spurious': 100, 'missing': 89, 'parital_poss': 53, 'partial_act': 47, 'incorrect': 1})}}}}, 'pii_muc7':{'p': '89.58', 'r': '89.90', 'f': '89.74', 'counts' : Counter({'correct' : 1273, 'spurious': 100, 'missing': 89, 'parital_poss': 53, 'partial_act': 47, 'incorrect': 1}), 'score_per_type': {'ent_type': {'DATE': {'p': '89.58', 'r': '89.90', 'f': '89.74', 'counts' : Counter({'correct' : 1273, 'spurious': 100, 'missing': 89, 'parital_poss': 53, 'partial_act': 47, 'incorrect': 1})}, 'PERSON':{'p': '89.58', 'r': '89.90', 'f': '89.74', 'counts' : Counter({'correct' : 1273, 'spurious': 100, 'missing': 89, 'parital_poss': 53, 'partial_act': 47, 'incorrect': 1})}, 'PLACE':{'p': '89.58', 'r': '89.90', 'f': '89.74', 'counts' : Counter({'correct' : 1273, 'spurious': 100, 'missing': 89, 'parital_poss': 53, 'partial_act': 47, 'incorrect': 1})}, 'ADDRESS': {'p': '89.58', 'r': '89.90', 'f': '89.74', 'counts' : Counter({'correct' : 1273, 'spurious': 100, 'missing': 89, 'parital_poss': 53, 'partial_act': 47, 'incorrect': 1})}}}}, 'pii_muc5':{'p': '89.58', 'r': '89.90', 'f': '89.74', 'counts' : Counter({'correct' : 1273, 'spurious': 100, 'missing': 89, 'parital_poss': 53, 'partial_act': 47, 'incorrect': 1}), 'score_per_type': {'et_type':{}}}}

print(type(data_dict))
print( json.dumps(data_dict, indent=4) )

<class 'dict'>
{
    "ner_muc7": {
        "p": "89.58",
        "r": "89.90",
        "f": "89.74",
        "counts": {
            "correct": 1273,
            "spurious": 100,
            "missing": 89,
            "parital_poss": 53,
            "partial_act": 47,
            "incorrect": 1
        },
        "score_per_type": {
            "ent_type": {
                "DATE": {
                    "p": "89.58",
                    "r": "89.90",
                    "f": "89.74",
                    "counts": {
                        "correct": 1273,
                        "spurious": 100,
                        "missing": 89,
                        "parital_poss": 53,
                        "partial_act": 47,
                        "incorrect": 1
                    }
                },
                "PERSON": {
                    "p": "89.58",
                    "r": "89.90",
                    "f": "89.74",
                    "counts": {
                        "correct": 1273,
                        "spurious": 100,
                        "missing": 89,
                        "parital_poss": 53,
                        "partial_act": 47,
                        "incorrect": 1
                    }
                },
                "PLACE": {
                    "p": "89.58",
                    "r": "89.90",
                    "f": "89.74",
                    "counts": {
                        "correct": 1273,
                        "spurious": 100,
                        "missing": 89,
                        "parital_poss": 53,
                        "partial_act": 47,
                        "incorrect": 1
                    }
                },
                "ADDRESS": {
                    "p": "89.58",
                    "r": "89.90",
                    "f": "89.74",
                    "counts": {
                        "correct": 1273,
                        "spurious": 100,
                        "missing": 89,
                        "parital_poss": 53,
                        "partial_act": 47,
                        "incorrect": 1
                    }
                }
            }
        }
    },
    "pii_muc7": {
        "p": "89.58",
        "r": "89.90",
        "f": "89.74",
        "counts": {
            "correct": 1273,
            "spurious": 100,
            "missing": 89,
            "parital_poss": 53,
            "partial_act": 47,
            "incorrect": 1
        },
        "score_per_type": {
            "ent_type": {
                "DATE": {
                    "p": "89.58",
                    "r": "89.90",
                    "f": "89.74",
                    "counts": {
                        "correct": 1273,
                        "spurious": 100,
                        "missing": 89,
                        "parital_poss": 53,
                        "partial_act": 47,
                        "incorrect": 1
                    }
                },
                "PERSON": {
                    "p": "89.58",
                    "r": "89.90",
                    "f": "89.74",
                    "counts": {
                        "correct": 1273,
                        "spurious": 100,
                        "missing": 89,
                        "parital_poss": 53,
                        "partial_act": 47,
                        "incorrect": 1
                    }
                },
                "PLACE": {
                    "p": "89.58",
                    "r": "89.90",
                    "f": "89.74",
                    "counts": {
                        "correct": 1273,
                        "spurious": 100,
                        "missing": 89,
                        "parital_poss": 53,
                        "partial_act": 47,
                        "incorrect": 1
                    }
                },
                "ADDRESS": {
                    "p": "89.58",
                    "r": "89.90",
                    "f": "89.74",
                    "counts": {
                        "correct": 1273,
                        "spurious": 100,
                        "missing": 89,
                        "parital_poss": 53,
                        "partial_act": 47,
                        "incorrect": 1
                    }
                }
            }
        }
    },
    "pii_muc5": {
        "p": "89.58",
        "r": "89.90",
        "f": "89.74",
        "counts": {
            "correct": 1273,
            "spurious": 100,
            "missing": 89,
            "parital_poss": 53,
            "partial_act": 47,
            "incorrect": 1
        },
        "score_per_type": {
            "et_type": {}
        }
    }
}

# Convert Dict To DataFrame

In [4]:
results_df = convert_to_df(data_dict)

results_df.info(verbose=True)
display(
    results_df.describe(),
    results_df
)

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, p to incorrect
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   (ner_muc7, OVERALL)  9 non-null      float64
 1   (ner_muc7, DATE)     9 non-null      float64
 2   (ner_muc7, PERSON)   9 non-null      float64
 3   (ner_muc7, PLACE)    9 non-null      float64
 4   (ner_muc7, ADDRESS)  9 non-null      float64
 5   (pii_muc7, OVERALL)  9 non-null      float64
 6   (pii_muc7, DATE)     9 non-null      float64
 7   (pii_muc7, PERSON)   9 non-null      float64
 8   (pii_muc7, PLACE)    9 non-null      float64
 9   (pii_muc7, ADDRESS)  9 non-null      float64
 10  (pii_muc5, OVERALL)  9 non-null      float64
dtypes: float64(11)
memory usage: 864.0+ bytes

          ner_muc7                                                      \
           OVERALL         DATE       PERSON        PLACE      ADDRESS
count     9.000000     9.000000     9.000000     9.000000     9.000000
mean    203.580000   203.580000   203.580000   203.580000   203.580000
std     402.278745   402.278745   402.278745   402.278745   402.278745
min       1.000000     1.000000     1.000000     1.000000     1.000000
25%      53.000000    53.000000    53.000000    53.000000    53.000000
50%      89.580000    89.580000    89.580000    89.580000    89.580000
75%      89.900000    89.900000    89.900000    89.900000    89.900000
max    1273.000000  1273.000000  1273.000000  1273.000000  1273.000000

          pii_muc7                                                      \
           OVERALL         DATE       PERSON        PLACE      ADDRESS
count     9.000000     9.000000     9.000000     9.000000     9.000000
mean    203.580000   203.580000   203.580000   203.580000   203.580000
std     402.278745   402.278745   402.278745   402.278745   402.278745
min       1.000000     1.000000     1.000000     1.000000     1.000000
25%      53.000000    53.000000    53.000000    53.000000    53.000000
50%      89.580000    89.580000    89.580000    89.580000    89.580000
75%      89.900000    89.900000    89.900000    89.900000    89.900000
max    1273.000000  1273.000000  1273.000000  1273.000000  1273.000000

          pii_muc5
           OVERALL
count     9.000000
mean    203.580000
std     402.278745
min       1.000000
25%      53.000000
50%      89.580000
75%      89.900000
max    1273.000000

             ner_muc7                                     pii_muc7           \
              OVERALL     DATE   PERSON    PLACE  ADDRESS  OVERALL     DATE
p               89.58    89.58    89.58    89.58    89.58    89.58    89.58
r               89.90    89.90    89.90    89.90    89.90    89.90    89.90
f               89.74    89.74    89.74    89.74    89.74    89.74    89.74
correct       1273.00  1273.00  1273.00  1273.00  1273.00  1273.00  1273.00
spurious       100.00   100.00   100.00   100.00   100.00   100.00   100.00
missing         89.00    89.00    89.00    89.00    89.00    89.00    89.00
parital_poss    53.00    53.00    53.00    53.00    53.00    53.00    53.00
partial_act     47.00    47.00    47.00    47.00    47.00    47.00    47.00
incorrect        1.00     1.00     1.00     1.00     1.00     1.00     1.00

                                        pii_muc5
               PERSON    PLACE  ADDRESS  OVERALL
p               89.58    89.58    89.58    89.58
r               89.90    89.90    89.90    89.90
f               89.74    89.74    89.74    89.74
correct       1273.00  1273.00  1273.00  1273.00
spurious       100.00   100.00   100.00   100.00
missing         89.00    89.00    89.00    89.00
parital_poss    53.00    53.00    53.00    53.00
partial_act     47.00    47.00    47.00    47.00
incorrect        1.00     1.00     1.00     1.00

# Percent Change

In [5]:
# THESE LINES JUST CREATE TWO DATAFRAMES FOR THE EXAMPLE
# YOU SHOULD LOAD YOUR REAL DATA INSTEAD
results_df1 = convert_to_df(data_dict)
results_df2 = convert_to_df(data_dict) + np.random.normal(0, 1, results_df1.shape)

# THIS CALCULATES THE PERCENT CHANGE FROM results_df1 TO results_df2
percent_change_df = 100 * (results_df2 - results_df1) / results_df1

display(
    HTML("<h1>Original</h1>"),
    results_df1,
    HTML("<h1>Modified</h1>"),
    results_df2,
    HTML("<h1>Percent Change</h1>"),
    percent_change_df
)

             ner_muc7                                     pii_muc7           \
              OVERALL     DATE   PERSON    PLACE  ADDRESS  OVERALL     DATE
p               89.58    89.58    89.58    89.58    89.58    89.58    89.58
r               89.90    89.90    89.90    89.90    89.90    89.90    89.90
f               89.74    89.74    89.74    89.74    89.74    89.74    89.74
correct       1273.00  1273.00  1273.00  1273.00  1273.00  1273.00  1273.00
spurious       100.00   100.00   100.00   100.00   100.00   100.00   100.00
missing         89.00    89.00    89.00    89.00    89.00    89.00    89.00
parital_poss    53.00    53.00    53.00    53.00    53.00    53.00    53.00
partial_act     47.00    47.00    47.00    47.00    47.00    47.00    47.00
incorrect        1.00     1.00     1.00     1.00     1.00     1.00     1.00

                                        pii_muc5
               PERSON    PLACE  ADDRESS  OVERALL
p               89.58    89.58    89.58    89.58
r               89.90    89.90    89.90    89.90
f               89.74    89.74    89.74    89.74
correct       1273.00  1273.00  1273.00  1273.00
spurious       100.00   100.00   100.00   100.00
missing         89.00    89.00    89.00    89.00
parital_poss    53.00    53.00    53.00    53.00
partial_act     47.00    47.00    47.00    47.00
incorrect        1.00     1.00     1.00     1.00

                 ner_muc7                                                      \
                  OVERALL         DATE       PERSON        PLACE      ADDRESS
p               89.701679    88.100443    88.997083    89.581684    90.008862
r               90.727056    89.323051    91.124044    88.999902    90.651186
f               89.125488    89.347346    88.673578    92.883603    90.431552
correct       1271.859451  1272.233364  1272.417525  1274.117778  1274.471022
spurious        98.740699   100.751556   100.469723   100.970036   100.578187
missing         87.844728    89.010797    87.172522    90.106079    90.785359
parital_poss    53.640452    56.760803    52.936485    54.049246    52.483690
partial_act     45.390014    46.632286    46.839528    47.602930    46.293050
incorrect        3.640311    -0.994999     0.557360    -0.086629     0.913590

                 pii_muc7                                                      \
                  OVERALL         DATE       PERSON        PLACE      ADDRESS
p               89.968512    90.144672    89.074802    88.725873    87.778106
r               90.566516    88.584752    91.159414    90.058446    90.343059
f               89.494044    89.122382    88.578140    90.154192    89.687737
correct       1271.468964  1273.234353  1273.335669  1272.762423  1273.610126
spurious        98.637063    98.856887   100.887470    99.795405   101.857128
missing         88.200165    89.171794    90.624137    89.832160    88.629853
parital_poss    52.167788    53.396571    52.925210    52.645712    53.653392
partial_act     48.156879    47.413392    47.295800    47.591949    48.172725
incorrect        2.367091     0.333378     1.309317     0.414367    -0.618607

                 pii_muc5
                  OVERALL
p               88.926456
r               89.318077
f               88.888188
correct       1271.916197
spurious        99.396018
missing         89.764150
parital_poss    51.822090
partial_act     46.624876
incorrect        2.927208

                ner_muc7                                               \
                 OVERALL        DATE     PERSON       PLACE   ADDRESS
p               0.135833   -1.651660  -0.650722    0.001880  0.478747
r               0.919974   -0.641768   1.361562   -1.001221  0.835580
f              -0.684770   -0.437546  -1.188347    3.503012  0.770617
correct        -0.089595   -0.060223  -0.045756    0.087807  0.115556
spurious       -1.259301    0.751556   0.469723    0.970036  0.578187
missing        -1.298058    0.012132  -2.053346    1.242785  2.006022
parital_poss    1.208400    7.095854  -0.119840    1.979709 -0.974170
partial_act    -3.425503   -0.782369  -0.341430    1.282829 -1.504149
incorrect     264.031115 -199.499930 -44.263962 -108.662902 -8.641031

                pii_muc7                                               \
                 OVERALL       DATE     PERSON      PLACE     ADDRESS
p               0.433704   0.630355  -0.563963  -0.953480   -2.011492
r               0.741397  -1.463012   1.400906   0.176246    0.492836
f              -0.274076  -0.688230  -1.294696   0.461546   -0.058238
correct        -0.120270   0.018409   0.026368  -0.018663    0.047928
spurious       -1.362937  -1.143113   0.887470  -0.204595    1.857128
missing        -0.898691   0.193027   1.824873   0.935011   -0.415895
parital_poss   -1.570211   0.748247  -0.141112  -0.668468    1.232815
partial_act     2.461445   0.879557   0.629362   1.259466    2.495159
incorrect     136.709059 -66.662216  30.931670 -58.563285 -161.860661

                pii_muc5
                 OVERALL
p              -0.729565
r              -0.647300
f              -0.949200
correct        -0.085138
spurious       -0.603982
missing         0.858595
parital_poss   -2.222471
partial_act    -0.798137
incorrect     192.720779